{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="paragraph--type--block-centered-image-large__container">
        <figure class="paragraph--type--block-centered-image-large__container__img-container">
          <img src="{{ paragraph.field_image.entity.fileuri | image_style('neshama_image_100') }}" width="{{ paragraph.field_image.0.width }}" height="{{ paragraph.field_image.0.height }}" alt="{{ paragraph.field_image.alt|default('') }}"/>
        {% if paragraph.field_caption.value is not empty %}
          <figcaption class="paragraph--type--block-centered-image-large__container__img-legend">{{ paragraph.field_caption.value | raw }}</figcaption>
        {% endif %}
        </figure>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}