{%
  set classes = [
    'block-socials-medias-footer',
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div>
      <div>
        {{ content.field_title }}
      </div>
      <div>
        {{ content.field_social_medias }}
      </div>
    </div>
  {% endblock %}
</section>
