{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('neshama_theme/node') }}
<article{{attributes.addClass(classes)}}>
	{{ title_prefix }}
	{% if label and not page %}
		<h2{{title_attributes}}>
			<a href="{{ url }}" rel="bookmark">{{ label }}</a>
		</h2>
	{% endif %}
	{{ title_suffix }}

	{% if display_submitted %}
		<footer class="node__meta">
			{{ author_picture }}
			<div{{author_attributes.addClass('node__submitted')}}>
				{% trans %}Submitted by
				{{ author_name }}
				on
				{{ date }}{% endtrans %}
				{{ metadata }}
			</div>
		</footer>
	{% endif %}

	<div class="block-page-registration__container" {{ content_attributes.addClass('node__content') }}>
		{% include 'themes/neshama_theme/templates/custom/common/page-header.html.twig' with {
        title: node.field_page_title.value,
        description: node.body.value,
        share: false,
        url: url('entity.node.canonical', {'node': node.id() }, {'absolute': true})
      } %}
			
		<div class="block-page-registration__form">
			<div class="motif motif_primary motif_border"></div>
			<div class="block-page-registration__content">
				{{ drupal_entity('webform', 'neshama_registration') }}
			</div>
		</div>
	</div>
</article>
