<div class="layout-container">
  <header role="banner">
    {{ page.branding }}
    {{ page.header_nav }}
  </header>

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {# {{ page.breadcrumb }} #}

    <div class="layout-content user-password d-flex">
        <div class="motif motif_color-primary motif_border"></div>
        <div class="user-password__content">
            {{ page.content }}
        </div>
        <div class="motif motif_primary motif_border ms-auto"></div>
    </div>
  </main>

  <footer role="contentinfo">
    {{ page.footer_nav }}
  </footer>
</div>